{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Upgrading the system{% endtrans %}{% endblock %}

{% block content %}
<div class="b-update">
    <div class="b-progress b-update-container">
        <div class="b-message">
            {% trans %}Performed update system. Do not turn off the system until the update is complete.{% endtrans %}<br />
            <a href="#" class="bt-toggle-block" data-target=".b-progress-log">{% trans %}Show execution log.{% endtrans %}</a>
        </div>
        <pre class="b-progress-log"><code
            data-from="{{ log_file }}"
            data-end-message="{{ end_message }}"
            data-message="{% trans %}Update successful. Restart the application to complete the update.{% endtrans %}"
            data-redirect="{{ path('home') }}"
        ></code></pre>
    </div>
</div>
{% endblock %}
