{% set storage %}
    <a href="{{ path('home_search', {'anime_db_catalog_search_items[storage]': storage.id}) }}">{{ storage.name }}</a>
{% endset %}
{% set name %}
    <a href="{{ path('item_show', {'id': item.id, 'name': item.urlName}) }}">{{ item.name }}</a>
{% endset %}
{% trans with {'%name%': name, '%storage%': storage } %}Detected and added new item %name% on storage %storage%{% endtrans %}
