/**
 * Navigation
 */
#navigation {
	width: 956px;
	position: relative;
	z-index: 6;
	top: 30px;
	margin: 0 auto;
}
#navigation nav {
	float: right;
}
#navigation nav > ul,
#navigation .left,
#navigation .right {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAApCAIAAAB7iNSFAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABISURBVHjaXIzBCQBBCAM1L19iJfbflgWod/tQlg0Ik5AId4eqIiJAROjuveOravPD44ene3Nmgpk3u7svv9v5LSIwM/z6BBgAkgJapF6ukSAAAAAASUVORK5CYII=') repeat-x scroll 0 0 transparent;
	float: left;
	height: 41px;
}
#navigation .left {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAArCAYAAACwyUKjAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADdSURBVHjajFPbDcIwDGzapoBaBIrEAnx1A75hOHZhEuZB4jcNvhALh5gWS+7j7LPPTmuqtxlyO47j2Vp7bRO4cs4du6670fOupgu8H4bhAiCEEIGGfOO97wHA2lQPwUqCFQPstQSjDGM+IGyaphicp0vLajK9yESglS/wTCdTMzr0MVjQM5AD6uwZSKsra6IR09UxVZ3qRAV9uZE6kdro5xGr3dWaRebswWWN5E7rxeP4X7ysGdKWHgCwrSZpXRPgCTjR86FJmfE/osCd7k8j9G7J92CZr2/VIuElwAAuhd2+m7GQXAAAAABJRU5ErkJggg==') no-repeat scroll left top transparent;
	width: 5px;
}
#navigation .right {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAArCAYAAACwyUKjAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADtSURBVHjajFNBCsIwEEzS0iIWhF78gBcPufgEf+gzfIxHvYsnoYLiRdAmzpZsiE1CDWy3nZ1tZidtobU+tG177rruIoQwCKGklJuqqvYorPBcD6C1lvKiaZot8pwwRQgV+r4nYIYoSsfkRSSpjDEDMyzSRoJfwascswaQ2sdMJRLLt/8wuT3JDIteZwj6iVivl0RAxIzEMxBJctbF7eFGyTHzOqOJxnKyGyXbvfNJQybPKG0Iz5wUP33Ef59mnpn1M/o+nUsPh1n284SOI/KbwAKXJQo75CvihniRs2u6QdwRT8RHuH+nDqf7CjAA7YTqjBSccpgAAAAASUVORK5CYII=') no-repeat scroll right top transparent;
	width: 5px;
}
.b-dropdown-menu ul,
.b-dropdown-menu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	line-height: 38px;
}
.b-dropdown-menu ul {
	white-space: nowrap;
	position: relative;
}
#navigation nav > ul > li {
	float: left;
}
.b-dropdown-menu a,
.b-dropdown-menu span {
	width: 100%;
	height: 41px;
	display: block;
	text-decoration: none;
	color: #ccc;
	float: left;
}
.b-dropdown-menu span {
	cursor: default;
}
.b-dropdown-menu .icon {
	display: inline-block;
	width: 0;
	height: 0;
	float: none;
}
#navigation nav > ul > li {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAApCAIAAACQv2+GAAAAa0lEQVR42m2OuQ0DMQwEhw8EKVMn6r85rhMeToYdLbC/nXOAHGOstSIi5pwOAF5VkhyoqosEHJDkkgA3M0mP9p1rsi0daIukC95cA/Bf605J/ex33cyq6tl7714tksysf1pEZGbuvYGccwIfCFCB66/lvLwAAAAASUVORK5CYII=') no-repeat scroll right top transparent;
}
#navigation nav > ul > li.last {
	background: none;
}
.b-dropdown-menu strong {
	font-weight: normal;
	padding: 0 18px 0 34px;
	color: #ccc;
}
.b-dropdown-menu .icon-label {
	background-position: 10px 12px;
	padding: 0;
}
#navigation .selected a,
#navigation .selected span {
	color: #fff;
}
#navigation .settings > a,
#navigation .settings > span {
	background-image: none;
}
.b-dropdown-menu li:hover a,
.b-dropdown-menu li:hover span {
	color: #fff;
}
#navigation ul ul,
.f-refill ul {
	position: absolute;
	top: 100%;
	background: black;
	visibility: hidden;
	opacity: 0;
	filter: alpha(Opacity=0);
	-webkit-transition: opacity .20s ease-in-out;
	transition: opacity .20s ease-in-out;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 1;
}
#navigation li:hover > ul,
.f-refill:hover ul {
	visibility: visible;
	opacity: 1;
	filter: alpha(Opacity=100);
}
#navigation ul ul li {
	position: relative;
	clear: both;
}
#navigation ul ul ul {
	right: 100%;
	top: 0;
}
#navigation .last .menu_level_1 {
	right: 0;
}