{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Search items in all plugins{% endtrans %}{% endblock %}

{% block content %}
<div class="b-search-source b-search-source-in-all{% if form.count > 1%} b-large-form{% endif %}">
	<h2>{% trans %}Search items in all plugins{% endtrans %}</h2>
	<form action="" method="get" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<button type="submit">{% trans %}Find{% endtrans %}</button>
	</form>
	{% if app.request.query.count() and plugins %}
		<div class="b-filler-search">
			<h2>{% trans %}List of results{% endtrans %}</h2>
			<p>{% trans %}Select the entry you want to add{% endtrans %}</p>
			{% for plugin in plugins %}
				{{ render_hinclude(path('fill_search', {'plugin': plugin.name}|merge(app.request.query.all)|merge({'hinclude': 1}) )) }}
			{% endfor %}
		</div>
	{% endif%}
</div>
{% endblock %}
