{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Search plugin by the URL for filling item{% endtrans %}{% endblock %}

{% block content %}
<div class="b-search-source b-search-source-filler">
	<h2>{% trans %}Search plugin by the URL for filling item{% endtrans %}</h2>
	<form action="" method="get" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<button type="submit">{% trans %}Add{% endtrans %}</button>
	</form>
</div>
{% endblock %}
