{% extends 'AnimeDbCatalogBundle:Install:layout.html.twig' %}

{% block title %}{% trans %}Add storage{% endtrans %}{% endblock %}

{% set step = 2 %}

{% block content %}
<h2>{% trans %}Add storage{% endtrans %}</h2>
<form action="{{ path('install_add_storage') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<a href="{{ path('install_end') }}" class="button">{% trans %}Skip{% endtrans %}</a>
	<button type="submit">{% trans %}Add{% endtrans %}</button>
</form>
{% endblock %}