{% extends 'AnimeDbCatalogBundle:Install:layout.html.twig' %}

{% block title %}{% trans %}Installation is complete{% endtrans %}{% endblock %}

{% set step = 5 %}

{% block content %}
<h2>{% trans %}Installation is complete{% endtrans %}</h2>
<form action="install_end" method="post">
<button type="submit">Complete the installation</button>
</form>
{% endblock %}
