{% extends 'AnimeDbCatalogBundle:Install:layout.html.twig' %}

{% block title %}{% trans %}Installation is complete{% endtrans %}{% endblock %}

{% set step = 5 %}

{% block content %}
<h2>{% trans %}Installation is complete{% endtrans %}</h2>
<form action="" method="post">
<button type="submit">{% trans %}Complete the installation{% endtrans %}</button>
</form>
{% endblock %}
