{% extends 'AnimeDbCatalogBundle:Install:layout.html.twig' %}

{% block title %}{% trans %}Installation is complete{% endtrans %}{% endblock %}

{% block content %}
<h2>{% trans %}Installation is complete{% endtrans %}</h2>
{% endblock %}
