{% extends 'AnimeDbCatalogBundle:Install:layout.html.twig' %}

{% block title %}{% trans %}Choose what you want{% endtrans %}{% endblock %}

{% set step = 3 %}

{% block content %}
<h2>{% trans %}Choose what you want{% endtrans %}</h2>
<form action="{{ path('install_what_you_want') }}" method="post">
	<a href="{{ path('install_storage_scan') }}" class="button">{% trans %}Scan the storage now{% endtrans %}</a><br />
	<button type="submit">{% trans %}Install sample items{% endtrans %}</button><br />
	<a href="{{ path('install_end', {'from': 'skip_scan_storage'}) }}" class="button">{% trans %}Skip{% endtrans %}</a>
</form>
{% endblock %}