.icon {
  display: inline-block;
  background: none;
  background-position: left top;
  background-repeat: no-repeat;
  border: 0;
  width: 0;
  height: 0;
  padding: 16px 0 0 16px;
  &-label {
    display: inline-block;
    background: none;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: visible;
    width: auto;
    height: 16px;
    border: 0;
    padding: 0 0 0 18px;
    font-weight: normal;
  }
  &-button {
    background-position: .4em center;
    background-repeat: no-repeat;
    text-indent: 16px;
  }
  &-plus {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABXSURBVHjaYvz//z8DsYAJi9hrIP4IxM/RJViwKOYHYlYoJmjyLzQaDhihbgZZy0fAyYxMDCQAshSDPMUIxd+gYp+QxBgJmfwflwdxKWIkFM6MuKwCCDAA8cYS25GxIRkAAAAASUVORK5CYII=');
    background-color: #33bb33;
  }
  &-minus {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAkSURBVHjaYvz//z8DsYCJgQRAe8Ufgfg/AUxDZzAOwaADCDAADKwO+JOzCXsAAAAASUVORK5CYII=');
    background-color: #bbbbbb;
  }
  &-plus,
  &-minus {
    @include border-radius(50%);
    @include box-shadow(0 0 1px rgba(0, 0, 0, .3));
    background-position: center center;
    width: 17px;
    height: 17px;
    text-indent: 17px;
    &[disabled~=disabled] {
      background-color: #dddddd;
      cursor: default;
    }
  }
  &-edit {
    background-image: url('/bundles/animedbcatalog/images/icon/edit.png');
  }
  &-delete {
    background-image: url('/bundles/animedbcatalog/images/icon/delete.png');
  }
  &-storage {
    background-image: url('/bundles/animedbcatalog/images/icon/storage.png');
  }
  &-fill {
    background-image: url('/bundles/animedbcatalog/images/icon/fill.png');
  }
  &-gray-search {
    background-image: url('/bundles/animedbcatalog/images/icon/gray/search.png');
  }
  &-gray-add {
    background-image: url('/bundles/animedbcatalog/images/icon/gray/add.png');
  }
  &-gray-settings {
    background-image: url('/bundles/animedbcatalog/images/icon/gray/settings.png');
  }
  &-white-storage {
    background-image: url('/bundles/animedbcatalog/images/icon/white/storage.png');
  }
  &-white-alert {
    background-image: url('/bundles/animedbcatalog/images/icon/white/alert.png');
  }
  &-white-label {
    background-image: url('/bundles/animedbcatalog/images/icon/white/label.png');
  }
  &-white-plugin {
    background-image: url('/bundles/animedbcatalog/images/icon/white/plugin.png');
  }
  &-white-settings {
    background-image: url('/bundles/animedbcatalog/images/icon/white/settings.png');
  }
  &-white-update {
    background-image: url('/bundles/animedbcatalog/images/icon/white/update.png');
  }
  &-white-help {
    background-image: url('/bundles/animedbcatalog/images/icon/white/help.png');
  }
  &-white-shop {
    background-image: url('/bundles/animedbcatalog/images/icon/white/shop.png');
  }
  &-white-search {
    background-image: url('/bundles/animedbcatalog/images/icon/white/search.png');
  }
  &-white-cloud-search {
    background-image: url('/bundles/animedbcatalog/images/icon/white/cloud_search.png');
  }
  &-white-add {
    background-image: url('/bundles/animedbcatalog/images/icon/white/add.png');
  }
  &-white-share {
    background-image: url('/bundles/animedbcatalog/images/icon/white/share.png');
  }
  &-white-cloud-sync {
    background-image: url('/bundles/animedbcatalog/images/icon/white/cloud_sync.png');
  }
  &-white-cloud-arrow-up {
    background-image: url('/bundles/animedbcatalog/images/icon/white/cloud_arrow_up.png');
  }
  &-white-cloud-download {
    background-image: url('/bundles/animedbcatalog/images/icon/white/cloud_download.png');
  }
  &-green-add {
    background-image: url('/bundles/animedbcatalog/images/icon/green/add.png');
  }
  &-orange-delete {
    background-image: url('/bundles/animedbcatalog/images/icon/orange/delete.png');
  }
  &-magnifier {
    background-image: url('/bundles/animedbcatalog/images/icon/magnifier.png');
  }
}
