@CHARSET "UTF-8";

/*
 * Interval between steps: 107px
 * Step inner size: 48px/48px
 * Step full size: 90px/90px
 */
.steps {
  position: relative;
  height: 70px;
  .progress {
    position: absolute;
    top: 26px;
    left: 35px;
    height: 18px;
    width: 101px;
    background-color: #ff9f0b;
    border-right: 709px solid #ccc;
    border-left: 0 solid #5cb85c;
  }
  &.step-2 .progress {
    border-left-width: 202px;
    border-right-width: 507px;
  }
  &.step-3 .progress {
    border-left-width: 404px;
    border-right-width: 305px;
  }
  &.step-4 .progress {
    border-left-width: 606px;
    border-right-width: 103px;
  }
  &.step-5 .progress {
    border-left-width: 841px;
    border-right-width: 0;
    width: 0;
  }
  .step {
    position: absolute;
    display: block;
    padding: 20px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #ccc;
    border: 1px solid #999;
    @include border-radius(50%);
    color: #999;
    top: 0;
    &.step-2 {
      left: 202px;
    }
    &.step-3 {
      left: 404px;
    }
    &.step-4 {
      left: 606px;
    }
    &.step-5 {
      right: 0;
    }
  }
  span.step {
    cursor: default;
  }
  /* old steps */
  &.step-2 .step.step-1,
  &.step-3 .step.step-1,
  &.step-3 .step.step-2,
  &.step-4 .step.step-1,
  &.step-4 .step.step-2,
  &.step-4 .step.step-3,
  &.step-5 .step {
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    color: #fff;
  }
  /* active step */
  &.step-1 .step.step-1,
  &.step-2 .step.step-2,
  &.step-3 .step.step-3,
  &.step-4 .step.step-4,
  &.step-5 .step.step-5 {
    background-color: #ff9f0b;
    border: 1px solid #db3400;
    color: #fff;
  }
}
