.list-items {
  .item-container {
    width: 200px;
    height: 250px;
    margin: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    float: left;
    &:hover {
      .name {
        @include opacity(.8);
      }
      .links-item a {
        @include opacity(1);
      }
    }
    &.keep-hover {
      .links-item {
        @include opacity(0);
        visibility: hidden;
        @include transition(opacity .2s ease-in-out, visibility .2s);
      }
      .name {
        @include opacity(.9);
        @include transition(opacity .2s ease-in-out);
      }
    }
  }
  .item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  figure,
  .name {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
  }
  .front {
    a {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 250px;
    }
    img {
      max-width: 200px;
      max-height: 250px;
      vertical-align: middle;
    }
  }
  .back {
    z-index: 1;
  }
  .name {
    top: 0;
    left: 0;
    background: #222;
    text-decoration: none;
    text-align: left;
    @include opacity(0);
    @include transition(opacity .2s ease-in-out);
    strong {
      display: block;
      margin: 23px 12px 0 12px;
      font-size: 120%;
      color: #fff;
    }
  }
  .links {
    position: absolute;
    list-style: none;
    .links-item {
      margin: 3px 0;
      a {
        display: inline-block;
        padding: 1px 4px;
        text-decoration: none;
        background: #db3400;
        color: #fff;
        @include border-radius(4px);
        @include opacity(0);
        @include transition(opacity .2s ease-in-out);
        &:hover {
          background: #ff6600;
        }
      }
    }
    &.type {
      position: absolute;
      left: 4px;
      top: 3px;
    }
    &.genres {
      bottom: 0;
      right: 4px;
      margin: 0;
      padding: 0;
      text-align: right;
    }
    &.labels {
      bottom: 0;
      left: 4px;
      margin: 0;
      padding: 0;
      text-align: left;
      .links-item a {
        background: #db552b;
      }
    }
  }
  .add {
    position: absolute;
    right: 4px;
    top: 3px;
    a {
      width: 1em;
      text-align: center;
      overflow: hidden;
      text-indent: 2em;
      background: #009827 url(/bundles/animedbcatalog/images/icon/white/plus.png) no-repeat center center;
    }
    &.already a {
      background: #db3400 url(/bundles/animedbcatalog/images/icon/white/eye.png) no-repeat center center;
    }
    &:hover a {
      background: #10b73b url(/bundles/animedbcatalog/images/icon/white/plus.png) no-repeat center center;
    }
    &.already:hover a {
      background: #ff6600 url(/bundles/animedbcatalog/images/icon/white/eye.png) no-repeat center center;
    }
  }
  /* list sort and order controls */
  .controls {
    height: 1.4em;
    margin: 10px 0 1px 0;
    color: #666;
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin-left: 4px;
      float: left;
    }
    .show-limit {
      float: right;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* 3D rotate covers */
@supports (
  (
    (-webkit-perspective: 600px) or
    (-moz-perspective: 600px) or
    (perspective: 600px)
  ) and
  (
    (-webkit-backface-visibility: hidden) or
    (-moz-backface-visibility: hidden) or
    (backface-visibility: hidden)
  ) and
  (
    (-webkit-transform-style: preserve-3d) or
    (transform-style: preserve-3d)
  ) and
  (
    (-webkit-transform: rotateY(-180deg)) or
    (-moz-transform: rotateY(-180deg)) or
    (-ms-transform: rotateY(-180deg)) or
    (-o-transform: rotateY(-180deg)) or
    (transform: rotateY(-180deg))
  )
) {
  .list-items {
    .back {
      z-index: auto;
    }
    figure {
      top: auto;
      left: auto;
      @include backface-visibility(hidden);
    }
    .item-container {
      @include perspective(600px);
      &:hover .item {
        @include transform(rotateY(-180deg));
      }

      &:hover .name,
      &.keep-hover .name,
      .links-item a {
        @include opacity(1);
      }
    }
    .item {
      @include transition-transform(.5s ease-in-out);
      @include transform-style(preserve-3d);
    }
    .back {
      @include transform(rotateY(-180deg));
    }
    .name {
      @include opacity(1);
    }
  }
}
