#navigation {
  width: 956px;
  position: relative;
  z-index: 6;
  top: 30px;
  margin: 0 auto;
  nav {
    float: right;
    > ul {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAApCAIAAAB7iNSFAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABISURBVHjaXIzBCQBBCAM1L19iJfbflgWod/tQlg0Ik5AId4eqIiJAROjuveOravPD44ene3Nmgpk3u7svv9v5LSIwM/z6BBgAkgJapF6ukSAAAAAASUVORK5CYII=') repeat-x scroll 0 0 transparent;
    }
  }
  nav > ul,
  .left,
  .right {
    float: left;
    height: 41px;
  }
  .left {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAArCAYAAACwyUKjAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADdSURBVHjajFPbDcIwDGzapoBaBIrEAnx1A75hOHZhEuZB4jcNvhALh5gWS+7j7LPPTmuqtxlyO47j2Vp7bRO4cs4du6670fOupgu8H4bhAiCEEIGGfOO97wHA2lQPwUqCFQPstQSjDGM+IGyaphicp0vLajK9yESglS/wTCdTMzr0MVjQM5AD6uwZSKsra6IR09UxVZ3qRAV9uZE6kdro5xGr3dWaRebswWWN5E7rxeP4X7ysGdKWHgCwrSZpXRPgCTjR86FJmfE/osCd7k8j9G7J92CZr2/VIuElwAAuhd2+m7GQXAAAAABJRU5ErkJggg==') no-repeat scroll left top transparent;
    width: 5px;
  }
  .right {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAArCAYAAACwyUKjAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADtSURBVHjajFNBCsIwEEzS0iIWhF78gBcPufgEf+gzfIxHvYsnoYLiRdAmzpZsiE1CDWy3nZ1tZidtobU+tG177rruIoQwCKGklJuqqvYorPBcD6C1lvKiaZot8pwwRQgV+r4nYIYoSsfkRSSpjDEDMyzSRoJfwascswaQ2sdMJRLLt/8wuT3JDIteZwj6iVivl0RAxIzEMxBJctbF7eFGyTHzOqOJxnKyGyXbvfNJQybPKG0Iz5wUP33Ef59mnpn1M/o+nUsPh1n284SOI/KbwAKXJQo75CvihniRs2u6QdwRT8RHuH+nDqf7CjAA7YTqjBSccpgAAAAASUVORK5CYII=') no-repeat scroll right top transparent;
    width: 5px;
  }
}

.b-dropdown-menu {
  ul,
  ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 38px;
  }
  ul {
    white-space: nowrap;
    position: relative;
    li:hover {
      a,
      span {
        color: #fff;
      }
    }
  }
  a,
  span {
    width: 100%;
    height: 41px;
    display: block;
    text-decoration: none;
    color: #ccc;
    float: left;
  }
  span {
    cursor: default;
  }
  .icon {
    display: inline-block;
    width: 0;
    height: 0;
    float: none;
  }
  strong {
    font-weight: normal;
    padding: 0 18px 0 34px;
    color: #ccc;
  }
  .icon-label {
    background-position: 10px 12px;
    padding: 0 10px 0 30px;
  }
}

#navigation {
  nav > ul > li {
    float: left;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAApCAIAAACQv2+GAAAAa0lEQVR42m2OuQ0DMQwEhw8EKVMn6r85rhMeToYdLbC/nXOAHGOstSIi5pwOAF5VkhyoqosEHJDkkgA3M0mP9p1rsi0daIukC95cA/Bf605J/ex33cyq6tl7714tksysf1pEZGbuvYGccwIfCFCB66/lvLwAAAAASUVORK5CYII=') no-repeat scroll right top transparent;
    .last {
      background: none;
    }
  }
  .selected {
    a,
    span {
      color: #fff;
    }
  }
  .settings {
    > a,
    > span {
      background-image: none;
    }
  }
  ul ul {
    position: absolute;
    top: 100%;
    background: black;
    visibility: hidden;
    @include opacity(0);
    @include transition(opacity .20s ease-in-out);
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    z-index: 1;
    li {
      position: relative;
      clear: both;
    }
    ul {
      right: 100%;
      top: 0;
    }
  }
  li:hover > ul {
    visibility: visible;
    @include opacity(1);
  }
  .last .menu_level_1 {
    right: 0;
  }
}
