#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 11;
}
#popup-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.popup {
  position: relative;
  width: 560px;
  margin: auto;
  padding: 20px 25px 15px 25px;
  background: #fff url('/bundles/animedbcatalog/images/bg-popup.gif') no-repeat top right;
  border: 3px #ff9f0b solid;
  @include box-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  overflow: auto;
  z-index: 12;
  .bt-popup-close {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 24px 0 0 24px;
    overflow: hidden;
    background: url('/bundles/animedbcatalog/images/icon/close.png') no-repeat 24px 0;
    border: 0;
    @include opacity(0.7);
    &:hover {
      background-position: 0 0;
    }
  }
  .content {
    background: none;
    min-height: 100%;
    padding: 0;
  }

  .refill-search {
    width: 470px;
    height: 200px;
    h2 {
      margin-top: 0;
    }
    ul {
      margin: 5px 0 0 0;
      padding: 0;
    }
    li {
      list-style: none;
      margin-bottom: 5px;
    }
  }
}

#b-lazyload-popup {
  display: none;
  height: 70px;
  width: 70px;
  .content {
    background: url('/bundles/animedbcatalog/images/loader-popup.gif') no-repeat center center;
  }
  &.resize .content {
    background-image: none;
  }
}
