{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% set body_class = 'home' %}

{% block content %}
<div class="home-center-header">
	<p class="intro-message">{% trans %}<strong>Anime DB</strong> - is a program for making home catalog anime, designed for home noncommercial use.{% endtrans %}</p>
	<div class="home-search">
		{% render controller('AnimeDbCatalogBundle:Home:searchSimpleForm') %}
	</div>
</div>
<div class="home-center">
{{ widgets(widget_top) }}
{% include 'AnimeDbCatalogBundle:Item:list.html.twig' %}
{{ widgets(widget_bottom) }}
</div>
{% endblock %}
