#entity_item_summary,
#entity_item_episodes {
  width: 500px;
  height: 200px;
}
#entity_item_translate {
  height: auto;
}
#itemtype_file_info {
  width: 500px;
}
.b-addition-form {
  .f-collection .b-col-rm-item {
    height: 31px;
    line-height: 31px;
    margin-left: 20px;
    float: left;
  }
  .f-collection,
  .f-row {
    clear: both;
  }
}
