input,
textarea {
  width: 300px;
}
input[type~=checkbox],
input[type~=radio] {
  width: auto;
}
textarea {
  height: 100px;
}
a:visited {
  color: #ff6600;
}
input[type~=button],
input[type~=reset],
input[type~=submit],
button,
a.button {
  display: inline-block;
  position: relative;
  margin-right: .1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
  @include border-radius(4px);
  border: 1px solid #d8dcdf;
  background: #eeeeee 50% 50%;
  font-weight: bold;
  padding: .4em 1em;
  font-size: 1.1em;
  color: #db3400;
  &:hover {
    color: #b00;
    text-decoration: none;
  }
}
input[type~=submit][disabled],
button[type~=submit][disabled] {
  cursor: progress;
  background-image: url('/bundles/animedbcatalog/images/loader-hinclude.gif');
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  text-indent: 4em;
  white-space: nowrap;
  width: 4em;
}

.f-row {
  margin-bottom: 5px;
  clear: both;
}
.f-col {
  float: left;
  &-label {
    width: 250px;
  }
  &-clear {
    clear: both;
  }
}
.f-collection {
  .f-col-label {
    width: auto;
    margin-right: 10px;
  }
  .bt-remove-item,
  .bt-add-item {
    margin: 5px 0 0 10px;
    float: right;
  }
  label {
    min-height: 26px;
    line-height: 26px;
  }
}

.f-help {
  display: block;
  width: 230px;
  font-size: 90%;
  line-height: 100%;
  color: #999;
}

label .starlet {
  color: #db3400;
  font-size: 1.2em;
  line-height: 1em;
}
