/**
 * Form local path
 */
.f-local-path .change-path {
  background: url('/bundles/animedbcatalog/images/icon/folder.png') no-repeat;
  border: none;
  height: 16px;
  width: 16px;
  overflow: hidden;
  padding: 0;
  text-indent: 16px;
  margin-left: 5px;
}
#f-path-popup {
  width: 400px;
  .folders {
    height: 182px;
    background: white;
    overflow: auto;
    border: 1px #ff9f0b solid;
    padding: 3px 5px;
  }
  .t-path {
    width: 100%;
    border: 0;
    padding: 0;
    td,
    tr {
      border: 0;
      padding: 0;
    }
    .b-letter {
      padding-right: 5px;
      width: 36px;
      select {
        width: 36px;
      }
    }
    input {
      width: 100%;
    }
    .b-button {
      width: 21px;
      padding-left: 5px;
    }
  }
  .change-path {
    display: inline-block;
    margin: 5px 0 5px 5px;
    height: 16px;
    width: 16px;
    padding: 0;
    text-indent: 16px;
    border: 0;
    background: url('/bundles/animedbcatalog/images/icon/right.png') no-repeat;
    overflow: hidden;
    float: right;
  }
  .f-row {
    height: 26px;
  }
  .folder {
    height: 16px;
    line-height: 16px;
    margin: 2px 0;
    display: block;
    text-decoration: none;
    text-indent: 19px;
    background: url('/bundles/animedbcatalog/images/icon/folder.png') no-repeat;
    white-space: nowrap;
    word-wrap: normal;
  }
  &.updating .folders {
    background: white url('/bundles/animedbcatalog/images/loader.gif') no-repeat center center;
  }
}
