.b-form-note {
  margin: 15px 0 0 20px;
  .starlet {
    color: #db3400;
    font-size: 1.2em;
    line-height: 1em;
    width: 16px;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
  }
  img {
    float: left;
    margin-right: 4px;
  }
}
