/**
 * Form for plugin search
 */
#plugin_search,
#plugin_filler {
  margin: 3px 10px 0 0;
  float: left;
  label {
    width: auto;
    margin-right: 10px;
  }
}
.b-large-form #plugin_search,
.b-large-form #plugin_filler {
  float: none;
}
