/**
 * Form for plugin search
 */
#anime_db_catalog_plugin_search,
#anime_db_catalog_plugin_filler {
  margin: 3px 10px 0 0;
  float: left;
  label {
    width: auto;
    margin-right: 10px;
  }
}
.b-large-form #anime_db_catalog_plugin_search,
.b-large-form #anime_db_catalog_plugin_filler {
  float: none;
}
