{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Add storage{% endtrans %}{% endblock %}

{% block content %}
<div class="b-addition-form">
	<h2>{% trans %}Add storage{% endtrans %}</h2>
	<form action="{{ path('storage_add') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<button type="submit">{% trans %}Add{% endtrans %}</button>
	</form>
	<br />
	{% trans %}Example data storage structures:{% endtrans %}<br />
	<blockquote>
		<strong>C:\Downloads\Sailor Moon (1992) [TV]\</strong><br />
	</blockquote>
	{% trans %}wherein{% endtrans %},<br />
	<blockquote>
		<strong>C:\Downloads\</strong> - {% trans %}the path to the anime, contains several folders{% endtrans %};<br />
		<strong>Sailor Moon (1992) [TV]</strong> - {% trans %}folder where the files are stored anime (video, subtitles, covers, soundtracks, etc.){% endtrans %}.<br />
	</blockquote>
	<p>{% trans with {'%guide%': guide} %}For correct operation of the program stored in a folder only the files associated with anime. If located in a folder other files or programs may result in malfunction of the application. For more information, <a href="%guide%">read the guide</a>.{% endtrans %}</p>
</div>
{% endblock %}
